@font-face {
  font-family: 'ArcadeClassic';
  src: satic/fonts/ArcadeClassic.ttf format ('ttf');
}

.app-content {
  background-color: #000;
}

.game {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.trackpad {
  border: 1px solid #303030;
  background-color: #101010;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.scoreTitle {
  background-color: #000000;
  font-style: courier;
  text-align: left;
  color: #FFFFFF;
  background-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 4px;
  margin-top: -10px;
}

/* arcade homescreen */
.aStartButton{
  width: 50%;
  margin: auto;
  height: 8%;
  background-color: #202020;
  background-size: 100%;
  border-radius: 600px;
  border: 6px solid #F0B73E;
  color: #F0B73E;
  padding-top:12px;
  text-align: center;
  font-style: ArcadeClassic;
}

.ui-loader{
  display: none;
}

